@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <h1 class="gummi-top">Gummi Bear Kingdom</h1>
    <input type="button" class="btn btn-warning" value="View Products" onclick="location.href='@Url.Action("Index", "Product")'"/>
 </div>