@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-products">
    <h1 class="title">Gummi Bear Kingdom Products</h1>
</div>

<div class="container products-container">
    <div class="card-deck">
    @foreach (var product in Model)
    {
      <div class="card">
        <img class="card-img-top" src="@Html.DisplayFor(model => product.Image)" alt="Product Image">
        <div class="card-block">
          <h4 class="card-title">@Html.DisplayFor(model => product.Name)</h4>
        </div>
	    <input type="button" class="btn btn-info view-details-btn" value="View Details" onclick="location.href='@Url.Action("Details", new {id = product.ProductId})'"/>
      </div>
    }
	</div>
</div>
